*.log
*.o
*.elf
*.bin
*.32x
resources.h
symbol.txt

*.tar.gz
*.tar.bz2
*.tar.xz
*.zip

toolchain/gcc-*/
toolchain/binutils-*/
toolchain/newlib-*/
z80-tools/sjasm/
sgdk/SGDK/
sik-tools/mdtools/
flamewing-tools/mdcomp/
flamewing-tools/mdtools/
