*.log
*.o
*.a
*.lib
*.elf
*.bin
*.32x
*.gen
*.lst
*.old
*.bak
dep-*
mk-*
resources.h
symbol.txt

*.tar.gz
*.tar.bz2
*.tar.xz
*.zip

.idea/
.vscode/
Session.vim

bin/
out/
mars/
sgdk/sjasm/
sgdk/SGDK/
